html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: left;
    padding-top: 50px;
    color: #818181;
}

.sidebar a,
.open a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.main {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    left: 320px;
    transition: margin-left .5s;
}

.open {
    position: relative;
    width: 100%;
    height: 7%;
    background-color: #111;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

#map {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 93%;
}

.sidebar a:hover,
.open a:hover,
.open span {
    color: #f1f1f1;
}

#show,
#hide {
    width: 155px;
}

#search {
    width: 260px;
}

#filter {
    width: 50px;
}

#close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#open {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .main {
        left: 0;
    }
    .sidebar {
        width: 0;
    }
}
