html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #111;
    overflow-x: hidden; /*We don't need text to overflow into the map*/
    transition: 0.5s;
    text-align: left;
    padding-top: 50px;
    color: #818181;
}

.sidebar a,
.open a {
    text-decoration: none; /* no need to underline links*/
    display: block;
    transition: 0.3s;
}

.main {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    left: 320px;
    transition: left .5s; /*setting animation when openning and closing the sidebar*/
}

.open {
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #111;
    text-align: center;
    margin: 0;
    padding-top: 2px;
}

#map {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
}

.sidebar a:hover,
.open a:hover,
.open span {
    color: #f1f1f1; /* making links to change color with mouseover event*/
}

#show,
#hide {
    width: 155px;
}

#search {
    width: 260px;
}

#filter {
    width: 50px;
}

#close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#open {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    margin: 10px;
}

/*On small screen sidebar will be closed by default*/
@media screen and (max-width: 768px) {
    .main {
        left: 0;
    }
    .sidebar {
        width: 0;
    }
}
